/*

--- NOTES AND STUFF ---

      COLORS
#031424 | DARK BLUE
#05121e | DARKER BLUE
#8eaebd | LIGHT BLUE
#30415d | GREY BLUE
#644e5b | MAROON
#efefef | LIGHT GRAY
#a9a9a9 | GRAY

*/

/* GLOBALS */

body{
  margin: 0;
  background-color: #efefef;
  font-family: 'inconsolata', monospace;
  overflow-x: hidden;
}
p{
  font-family: 'Lato', sans-serif;
}

.brush_break{
  padding:100px;
  background: url("../image/brushtexfrom.png");
}

.brush_breaktwo{
  padding:120px;
  margin-bottom:200px;
  margin-top:250px;
  background: url("../image/brushtexinto.png")-100px,0px;
}


/* SIDE NAV */

.sn-wrap{
  margin-top: 100px;
}

.sidemenu{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #05121E;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidemenu a{
  padding: 32px 16px 32px 32px;
  text-decoration: none;
  font-size: 45px;
  color: #8eaebd;
  display: block;
  letter-spacing: 5px;
  margin-bottom: 0px;
  transition: 0.3s;
}

/* .sn-wrap .current{
  background:#30415d;
} */

.sn-wrap hr{
  margin:0px;
  width:100%;
  display: block;
  height: 1px;
  border: 0;
  padding:0px;
  border-top: 3px solid #8eaebd;
}

.sidemenu .close{
  position: absolute;
  top: 0;
  padding-top:1px;
  right: 25px;
  font-size: 95px;
  margin-left: 50px;
}


/* SIDE NAV HOVER */

.sn-wrap a:after{
  z-index: -1;
  position: absolute;
  left: 0%;
  width: 0;
  height: 50px;
  background: #30415d;
  content: '';
  transition: width 0.35s ease-in-out;
}

.sn-wrap a:hover:after{
  width: 10%;
}


.sn-wrap a:hover{
  padding-left: 64px;
  transition: 0.35s ease-in-out;
}


/* CONTENT */

#title{
  background-color: #efefef;
  transition: margin-left 0.5s;
  padding: 16px;
  min-height: 600px;
}

#title .menubtn{
  z-index:1;
  position: fixed;
  font-size:50px;
  cursor:pointer;
  color:#031424;
  padding-left:25px;
  text-shadow: 0px 5px #efefef; /* SMARTEST BOI ALIVE */
}
#title h1{
  font-size: 6em;
  text-align: center;
  letter-spacing: 50px;
  padding: 180px 0px 0px 50px;
  color: #031424;
}
#title hr{
  margin:auto;
  width:60%;
  display: block;
  height: 1px;
  border: 0;
  padding:0px;
  border-top: 3px solid #031424;
}
#title h3{
  font-size: 3em;
  text-align: center;
  letter-spacing: 10px;
  padding: 0px 0px 180px 25px;
  color: #7E7E7E;
}


#content {
  background:#031424;
  /* background: url("../image/polyart.gif") no-repeat;
  background-size:cover; */
  text-align: center;
  transition: margin-left 0.5s;
  min-height: 400px;
}
#content h1{
  font-size: 4em;
  letter-spacing: 30px;
  padding: 50px 0px 0px 50px;
  color: #ffffff;
}
#content hr{
  width:45%;
  display: block;
  height: 1px;
  border: 0;
  padding:0px;
  border-top: 3px solid #ffffff;
}
#content p{
  position:absolute;
  font-size: 25px;
  text-align: center;
  letter-spacing: 2px;
  padding: 30px 400px 0px 400px;
  color: #A8BED5;
}

#history { /* ISSUE WITH FADE IN FOR TIMELINE */
  background:#efefef;
  transition: margin-left 0.5s;
  text-align: center;
  padding-bottom:100px;
}

#history h1{
  font-size: 4em;
  letter-spacing: 25px;
  padding: 50px 0px 0px 50px;
  color: #031424;
}
#history hr{
  width:45%;
  display: block;
  height: 1px;
  border: 0;
  padding:0px;
  border-top: 3px solid #031424;
}
#history h2{
  padding-left:70px;
  text-transform: uppercase;
  font-size: 2.5em;
  text-align: center;
  letter-spacing: 2px;
  padding-top: 20px;
  color: #031424;
}
#history .timeline ul li div {
  font-size: 2em;
  position: relative;
  bottom: 0;
  width: 700px;
  padding: 15px;
}
#history .timeline ul li div time{
  font-weight: bold;
}
#history .timeline ul li:nth-child(odd) div {  /*RIGHT*/
  text-align: left;
  right: -15px;
  bottom:-121px;
}
.timeline ul li:nth-child(even) div { /*LEFT*/
  text-align: right;
  left: -740px;
  top:70px;
}
#history .timeline ul li{
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #031424;
}
#history .timeline ul li::after{
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}
#malware {
  margin-top:300px;
  background:#031424;
  transition: margin-left 0.5s;
  text-align: center;
}

#malware h1{
  font-size: 4em;
  letter-spacing: 25px;
  padding: 50px 0px 0px 50px;
  color: #efefef;
}
#malware hr{
  width:45%;
  display: block;
  height: 1px;
  border: 0;
  padding:0px;
  border-top: 3px solid #efefef;
}
#malware h2{
  text-transform: uppercase;
  font-size: 2.5em;
  text-align: center;
  letter-spacing: 2px;
  padding-top: 20px;
  color: #efefef;
}
#malware .left{
  text-align: right;
  margin:0px 0px 0px 0px;
  min-height: 460px;
}
#malware .left h2{
  font-size: 4em;
  text-align: left;
  float:left;
  padding: 50px 0px 150px 50px;
}
#malware .left p{
  font-size: 1.5em;
  color:#ffffff;
  padding: 200px 20px 0px 0px;
}

#malware .right{
  background:#04192D;
  text-align: left;
  margin:0px 0px 0px 0px;
  min-height: 460px;
}
#malware .right h2{
  font-size: 4em;
  text-align: right;
  float:right;
  padding: 50px 50px 150px 0px;
}
#malware .right p{
  font-size: 1.5em;
  color:#ffffff;
  padding: 200px 400px 0px 20px;
}

#security {
  margin-top:200px;
  background:#efefef;
  transition: margin-left 0.5s;
  text-align: center;
}

#security h1{
  font-size: 4em;
  letter-spacing: 25px;
  padding: 0px 0px 0px 50px;
  margin:0px;
  color: #031424;
}
#security hr{
  width:45%;
  display: block;
  height: 1px;
  border: 0;
  padding:0px;
  border-top: 3px solid #031424;
}
#security h2{
  text-transform: uppercase;
  font-size: 2.5em;
  text-align: center;
  letter-spacing: 2px;
  padding-top: 20px;
  color: #031424;
}
#security .left{
  background:#E2E2E2;
  text-align: right;
  margin:0px 0px 0px 0px;
  min-height: 460px;
}
#security .left h2{
  font-size: 4em;
  text-align: left;
  float:left;
  padding: 50px 0px 150px 50px;
}
#security .left p{
  font-size: 1.5em;
  color:#000000;
  padding: 200px 20px 0px 0px;
}

#security .right{
  text-align: left;
  margin:0px 0px 0px 0px;
  min-height: 460px;
}
#security .right h2{
  font-size: 4em;
  text-align: right;
  float:right;
  padding: 50px 50px 150px 0px;
}
#security .right p{
  font-size: 1.5em;
  color:#000000;
  padding: 200px 400px 0px 20px;
}

#research {
  background:#031424;
  transition: margin-left 0.5s;
  text-align: center;
}

#research h1{
  font-size: 4em;
  letter-spacing: 25px;
  padding: 50px 0px 0px 50px;
  color: #efefef;
}

#research hr{
  width:45%;
  display: block;
  height: 1px;
  border: 0;
  padding:0px;
  border-top: 3px solid #efefef;
}
#research h2{
  text-transform: uppercase;
  font-size: 2.5em;
  text-align: center;
  letter-spacing: 2px;
  padding-top: 20px;
  color: #efefef;
}
#research .left{
  background:#04192D;
  text-align: right;
  margin:0px 0px 0px 0px;
  min-height: 800px;
}
#research .left h2{
  font-size: 4em;
  text-align: left;
  float:left;
  padding: 50px 0px 150px 50px;
}
#research .left p{
  font-size: 1.5em;
  color:#ffffff;
  padding: 200px 20px 0px 0px;
}

#research .right{
  text-align: left;
  margin:0px 0px 0px 0px;
  min-height: 800px;
}
#research .right h2{
  font-size: 4em;
  text-align: right;
  float:right;
  padding: 50px 50px 150px 0px;
}
#research .right p{
  font-size: 1.5em;
  color:#ffffff;
  padding: 200px 400px 0px 20px;
}
#research .last{
  text-align: left;
  margin:0px 0px 0px 0px;
  min-height: 600px;
}
#research .last h2{
  font-size: 4em;
  text-align: right;
  float:right;
  padding: 50px 50px 150px 0px;
}
#research .last p{
  font-size: 1.5em;
  color:#ffffff;
  padding: 200px 400px 0px 20px;
}
#research .brush_breaktwo{
  margin-top:0px;
}

/* TEMPORARY */

/* MEDIA */

@media(max-width: 768px){
  #content h1{
    font-size: 3em;
    letter-spacing: 12px;
  }
  #content p{
    padding:0px;
    font-size:20px;
  }
}
@media(max-width: 320px){
  #title h1{
    padding:0px;
    padding-top:100px;
    font-size: 4em;
    letter-spacing: 6px;
  }
  #title h3{
    padding:0px;
    font-size: 3em;
    letter-spacing: 4px;
  }
  #content h1{
    padding:0px;
    font-size: 2em;
    letter-spacing: 6px;
  }
}
